.header{
  height: 90px;
  width: 100%;
  overflow: hidden;
}
.logo{
  float: left;
  width: 100px;
  height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  margin-left: 200px;
  line-height: 90px;
  font-weight: 700;
}
.nav{
  float: right;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 300px;
  &-item{
    display: inline-block;
    margin-left: 20px;
    a{
      font-weight: 700;
      color: var(--PC_theme_color);
      font-size: 18px;
      &:hover{
        color:var(--PC_theme_font_color);
      }
    }
  }
}