.App {
  background-color: #f3f3f3;
  height: 1000px;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 2;
  min-width: 1200px;
  &::before,&::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 0px 650px 650px 0px;
    border-style: solid;
    position: fixed;
    z-index: -1;
  }
  &::before{
    border-color: transparent #c0e3e7;
    right: 0;
    top: 0;
  }
  &::after{
    border-color: transparent #d2d2d2;
    left: -100px;
    top: 30px;
    transform: rotate(-50deg);
    opacity: 0.5;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
